.w-350{
    max-width: 350px;
    width: 100%;
}
.w-600{
    max-width: 600px;
    width: 100%;
}
.w-800{
    max-width: 800px;
    width: 100%;
}
.top-banner .carousel-item:after {
    display:block;
    width:100%;
    height:100%;
    background:#000;
    position:absolute;
    top:0;
    left:0;
    content:'';
    opacity:.3;
    z-index:1;
}
.feedback .carousel-control-prev {
	justify-content: start;
}
.feedback .carousel-control-next {
	justify-content: end;
}
.feedback .carousel-control-next-icon, .feedback .carousel-control-prev-icon {
	width: 3rem;
	height: 3rem;
	background-size: 57%;
}

.carousel-caption.text-white {
    z-index:2;
}
@media screen and (min-width:768px) {
    .carousel-caption {
        top: 30%;
        transform: translateY(9%);
    }
}
@media screen and (max-width:550px) {
    .carousel-caption p{
        display: none;
    }
    .carousel-caption .btn{
        padding: 10px 20px !important;
        font-size: 14px !important;
    }
}